# .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs

# Visual Studio
.vs/
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Rider
.idea/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options directory
.vs/

# Vue 3
TempleFrontend/node_modules/
TempleFrontend/dist/
TempleFrontend/.env
TempleFrontend/.env.*
TempleFrontend/.vscode/
TempleFrontend/.idea/
TempleFrontend/.DS_Store
TempleFrontend/coverage/
TempleFrontend/*.log
TempleFrontend/npm-debug.log*
TempleFrontend/yarn-debug.log*
TempleFrontend/yarn-error.log*
TempleFrontend/.vite/
TempleFrontend/.vitepress/
TempleFrontend/.vuepress/
TempleFrontend/.temp/
TempleFrontend/.cache/ 